*{
    margin: 0px;
}
/* Background Layout */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background: linear-gradient(135deg, #5b86e5, #36d1dc); */
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

/* Card */
.auth-card {
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(135deg, #5b86e5, #36d1dc);
  /* background: rgba(255, 255, 255, 0.15); */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);

  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;

  border: none;
  border-radius: 10px;
  background-color: white;
  /* background: rgba(255, 255, 255, 0.25); */
  color: black;
  outline: none;
  font-size: 14px;

  transition: 0.3s;
}

.auth-card input::placeholder {
  color: #e4e4e4;
  color: black;
}

/* Links */
.auth-card p {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
}

.auth-card a {
  color: #ffee88;
  font-weight: 600;
  text-decoration: none;
}

.auth-card a:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Toast Container */
.Toastify__toast-container {
  font-family: "Poppins", sans-serif !important;
}

/* Base Toast Style */
.Toastify__toast {
  border-radius: 14px !important;
  padding: 12px 16px !important;
  backdrop-filter: blur(8px);
  color: white !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* animation: slideIn 0.35s ease-out; */
}

/* Success Toast */
.Toastify__toast--success {
  background: linear-gradient(135deg, #22c55e, #16a34a) !important;
  box-shadow: 0 4px 12px rgba(22, 163, 74, 0.4);
  
}

/* Error Toast */
.Toastify__toast--error {
  background: linear-gradient(135deg, #ef4444, #8b2727) !important;
  box-shadow: 0 4px 12px rgba(239, 68, 68, 0.4);
}

/* Info Toast */
.Toastify__toast--info {
  background: linear-gradient(135deg, #3b82f6, #2563eb) !important;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.4);
}

/* Warning Toast */
.Toastify__toast--warning {
  background: linear-gradient(135deg, #f59e0b, #d97706) !important;
  box-shadow: 0 4px 12px rgba(217, 119, 6, 0.4);
}

/* Progress Bar Style */
.Toastify__progress-bar {
  height: 5px;
  border-radius: 10px;
}

.Toastify__progress-bar--success {
  background: #bbf7d0 !important;
}

.Toastify__progress-bar--error {
  background: #fecaca !important;
}

.Toastify__progress-bar--info {
  background: #bfdbfe !important;
}

.Toastify__progress-bar--warning {
  background: #fde68a !important;
}

/* Entry Animation */
@keyframes slideIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
